.del-container {
    color: black;
    background: url('../../../assets/delbg.png') no-repeat;
    width: 100%;
    position: relative;
    height: auto;
    padding: 10px !important;
    display: flex;
    top: 80px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.del-container h1 {
    margin-top: 30px !important;
}

p {
    margin-top: 30px !important;
    color: black;
    font-size: 21px !important;
    /* overflow: hidden; */
    text-align: center;
    padding-left: 125px !important;
    padding-right: 125px !important;
}

.del-container button {
    margin-top: 50px !important;
    color: white;
    background-color: black;
    /* padding-left: 30px;
    padding-right: 30px; */
    padding: 12px !important;
    width: 160% !important;
    margin-left: -40% !important;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 30px !important;
    border-radius: 3px !important;
    font-size: 1.1em;
    box-shadow: 3px 6px 8px rgba(122, 118, 118, 0.4);
}




/* dell screen  */

/* 
.del-container {
    color: black;
    background: url('../../../assets/delbg.png') no-repeat;
    width: 100%;
    position: relative;
    height: 26vw;
    padding: 20px !important;
    display: flex;
    top: 260px;
    align-items: center;
    flex-direction: column;
}

.del-container h1 {
    margin-top: 30px !important;
}

p {
    margin-top: 30px !important;
    color: black;
    font-size: 21px !important;
    text-align: start;
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.del-container button {
    margin-top: 50px !important;
    color: white;
    background-color: black;

    width: 130%;
    margin-left: -10% !important;
    font-weight: 500;
    margin-bottom: 10% !important;
    border-radius: 3px !important;
    box-shadow: 3px 6px 8px rgba(122, 118, 118, 0.4);
} */





/* Responsive Styles */
@media (max-width: 768px) {
    .del-container {
        height: auto !important;
        /* Change height to auto for responsiveness */
        padding: 10px !important;
        margin-top: 5rem !important;
    }

    .del-container p {
        /* font-size: 1em; */
        margin-top: 6% !important;
        font-size: 14px !important;
        /* Decrease font size for smaller screens */
        padding-left: 35px !important;
        padding-right: 35px !important;
    }

    .del-container button {
        margin-bottom: 50px !important;
        /* font-size: ; */
        /* width: 40%; */
        /* Adjust margin for smaller screens */
        /* padding-left: 20px; */
        /* padding-right: 20px; */
    }
}