* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
}

body, html {
    width: 100% !important;
    overflow-x: hidden;

}