.best {
    color: black;
    background: white;
    position: relative;
    padding: 20px !important;
    top: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.best h1 {
    margin-bottom: 20px !important;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 0px !important;
}

.content h4 {
    font-size: 26px;
    /* margin-bottom: -10px !important; */
}

.bday,
.meet,
.wedd {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px !important;
}

.bday img,
.meet img,
.wedd img {
    width: 70%;
    /* Adjust image width */
    max-width: 200px;
    /* Limit maximum image width */
    margin-bottom: 28px !important;
}

.bday p,
.meet p,
.wedd p {
    margin-top: 20px !important;
}











/* dell screen */

/* .best {
    color: black;
    background: white;
    position: relative;
    padding: 20px !important;
    margin-top: 20% !important;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px !important;
}

.content h4 {
    font-size: 26px;
    margin-top: 15px;
}

.bday,
.meet,
.wedd {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px !important;
}

.bday img,
.meet img,
.wedd img {
    width: 70%;
    max-width: 200px;
    margin-bottom: 10px !important;
} */



/* Responsive Styles */
@media (max-width: 768px) {
    .best {
        margin-top: 2rem !important;
        height: auto !important;
        /* Change height to auto for responsiveness */
    }

    .content {
        flex-direction: column;
        /* Change to column layout on smaller screens */
        align-items: center;
        /* Center items horizontally */
    }

    .bday,
    .meet,
    .wedd {
        width: 100%;
        /* Make each item take full width on smaller screens */
    }
}